/**
 * Copyright 2018 Ambrosus Inc.
 * Email: tech@ambrosus.com
 */
@import "src/styles/utils";

.Navigation {
  padding: 10px;
  .data {
    margin-top: 40px;

    .sub-data {
      padding-left: 20px;
      height: 0;
      display: none;
      transition: all 0.3s ease;
    }

    li {

      &.active {
        > a {
          transform: scale(1.03);
          color: $blue;
          .arrow-right {
            svg {
              transform: rotate(90deg);
            }
          }
        }

        > .sub-data {
          height: auto;
          display: block;
        }
      }
    }

    a {
      display: inline-block;
      padding: 12px 0;
      font-size: 15px;
      color: $grey;
      font-weight: 300;
      width: 100%;
      cursor: pointer;
      position: relative;
      transition: transform 0.3s ease, color 0.2s;

      .arrow-right {
        position: absolute;
        right: 0;
        svg {
          height: 12px;
          width: 12px;
          transition: transform 0.3s ease;
        }
      }

      @include breakpoint(499) {
        font-size: 13px;
      }
    }
  }
}
