/**
 * Copyright 2018 Ambrosus Inc.
 * Email: tech@ambrosus.com
 */
@import "src/styles/utils";

.header {
  width: 100%;
  height: 64px;
  padding: 20px;
  background: #f3f8fb;
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.05);
  display: none;

  @include breakpoint(768) {
    display: flex;
  }
}

.AMB-Sidemenu {
  aside {
    background: #f3f8fb !important;
    padding: 15px !important;

    @include breakpoint(499) {
      width: 70% !important;
    }

    footer {
      display: none !important;
    }
  }
}
