/**
 * Copyright 2018 Ambrosus Inc.
 * Email: tech@ambrosus.com
 */
 @import "src/styles/utils";

#intro {
    .logo {
        text-align: center;
        margin-left: -60px;

        @include breakpoint(768) {
            margin-left: 0;
        }

        svg {
            width: 300px;
            height: 200px;

            @include breakpoint(350) {
                width: 100%;
            }
        }
    }
}